body{
    background-color: rgb(32, 32, 32);
    margin: 0 auto;
    color:white;
    font-family: 'Open Sans', sans-serif;
    
}
header{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    flex-direction: column;
    line-height: 10px;
}
li{
    font-family: 'Open Sans', sans-serif;
    display:inline-block;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: rgb(16, 255, 96);
    border-radius: 20px;
    transition: .5s;
    padding: 15px;
    box-shadow: 20px;
}

img{
    width: 100%;
    height: 1200px;
    
   
}
.amostra{ 
    height: 600px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
     background-image: url('imagens/wepik-photo-mode-2022723-225727.png');
}
.amostra .card h1{
    text-align: center;
    
    
}
.amostra p{
    margin-top: 40px;
    font-size: 25px;
    margin-left: 30px;
    color: white;
}
.amostra .card{
    width: 400px;
    height: 200px;
    margin-top: 30px;
    border-radius: 20px;
    margin-left: 80px;
    box-shadow: 10px 2px 2px 5px rgba(0, 0, 0, 0.2);
   

    background-color: rgb(27, 27, 27);
}
.amostra .card .undercard{
    margin-left: 100px;
    width: 200px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    box-shadow: 10px 2px 2px 5px rgba(0, 0, 0, 0.2);
   
    
}
.amostra .card .undercard h1{
    padding: 10px;
    font-size: 25px;
    color: black;
}
.amostra .undercard:hover{
    
    background-color: rgb(16, 255, 96);
    transition: .5s;
}
.unit{

    align-items: center;
    justify-content: center;        
    height: 600px;
    display: flex;
    background-color: white;
   
}



.unit .unitcard2{
    box-shadow: 10px 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(34, 34, 34);
    width: 500px;
    height: 300px;
    margin-top: -150px;
    border-radius: 20px;
   
    
}
.unit  .unitcard3{
    box-shadow: 10px 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(34, 34, 34);
    width: 500px;
    height: 60px;
    margin-top: 140px;
    border-radius: 20px;
    
    
}
.unit .unitcard3 h1{
    text-align: center;
    padding-top: 10px;
    
    
}


.unit .unitcard2 h1{
    margin-top: 40px;
    margin-left: 20px;
    
}
  
.unit .unitcard2 p{
    margin-top: 60px;
    font-size: 20px;
    margin-left: 20px;
}

.unit .unitcard4 {
    border-radius: 20px;
    background-color: aqua;
    width: 600px;
    height: 400px;
    margin-left: 50px;
    margin-top: -40px;
    background-image: url('imagens/download.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 800px;
    box-shadow: 10px 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.mobile{
    align-items: center;
    justify-content: center;        
    height: 600px;
    display: flex;
    background-color: rgb(36, 36, 36);
   
}

.mobile .card1{
    box-shadow: 10px 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 300px;
    height: 500px;
    background-image: url('imagens/MOBILE\ V3.png');
    background-position: center;
    background-size: 840px;
    background-position-x: -235px;
    background-position-y: -270px;
 

}
.mobile .card2{
    box-shadow: 10px 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 600px;
    height: 500px;
    margin-left: 200px;

}
.mobile .card2 img{
    margin-left: 120px;
    margin-top: 0px;
    width: 350px;
    height: 160px;

}
.mobile .card2 p{
    color: rgb(49, 192, 56);
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    

}
.mobile .card2 h1{

    margin-top: 50px;
    margin-left: 20px;
    color: black;

}




@media screen and (max-width: 576px) {

    .amostra {
        
        align-items: center;
        justify-content: center;        

        
    }
}
@media screen and (max-width: 576px) {

    .amostra .card{

             margin-left: 0px;

        
    }
}


@media screen and (max-width: 517px) {

    .unit .unitcard2{
            
            width: 300px;
            height: 400px;

        
    }
}
@media screen and (max-width: 517px) {

    .unit .unitcard3{
            margin-top: 420px;
            width: 300px;
            height: 40px;

        
    }
}
@media screen and (max-width: 1165px) {

    .unit .unitcard4{
           display: none;

        
    }
}


@media screen and (max-width: 1165px) {

    .mobile {
        
        align-items: center;
        justify-content: center;        

        
    }
}
@media screen and (max-width: 1165px) {

    .mobile .card2{

             margin-left: 20px;

        
    }
}

@media screen and (max-width: 1165px) {

    .mobile .card1{
           display: none;

        
    }
}
@media screen and (max-width: 1070px) {

    .mobile .card2{
           
           width: 400px;
           height: 500px;
        
    }
}
@media screen and (max-width: 517px) {

    .mobile .card2{
           margin-left: 0px;
           width: 300px;
           height: 500px;
        
    }
}

@media screen and (max-width: 1070px) {

    .mobile .card2 img{

            margin-top: -43px;
            margin-left: 25px;

        
    }
}
@media screen and (max-width: 517px) {

    .mobile .card2 img{

            display: none;

        
    }
}